@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap");
:root {
  --medium-font-size: 1.125rem;
  --small-font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  :root {
    --medium-font-size: 0.875rem;
    --small-font-size: 0.625rem;
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #fafafa;
}

h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  margin-top: 4rem;
  margin-bottom: 9rem;
}

.bd-grid, .team {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-main {
  width: 100%;
}

.team__header {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

.team__title {
  font-family: "PT Serif", serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.035em;
}

.team__subtitle {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
}

.team__text {
  font-size: var(--medium-font-size);
  margin: 0.625rem 0 3rem;
}

.team__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.2rem 3.5rem;
}

.team__image {
  position: relative;
}

.team__image-name {
  font-size: var(--medium-font-size);
  font-weight: 600;
  margin-top: 0.625rem;
}

.team__image-position {
  font-size: var(--small-font-size);
  text-transform: uppercase;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.team__image:nth-child(1) .team__image-position {
  -webkit-transform: rotate(90deg) translate(36px, -56px);
          transform: rotate(90deg) translate(36px, -56px);
}

.team__image:nth-child(2) {
  top: 50px;
  left: -19px;
}

.team__image:nth-child(2) .team__image-position {
  -webkit-transform: rotate(90deg) translate(27px, -48px);
          transform: rotate(90deg) translate(27px, -48px);
}

.team__image:nth-child(3) .team__image-position {
  -webkit-transform: rotate(90deg) translate(19px, -39px);
          transform: rotate(90deg) translate(19px, -39px);
}

.team__image:nth-child(4) {
  top: 50px;
  left: -19px;
}

.team__image:nth-child(4) .team__image-position {
  -webkit-transform: rotate(90deg) translate(23px, -45px);
          transform: rotate(90deg) translate(23px, -45px);
}

.team__image:nth-child(5) {
  top: 0;
}

.team__image:nth-child(5) .team__image-position {
  -webkit-transform: rotate(90deg) translate(20px, -40px);
          transform: rotate(90deg) translate(20px, -40px);
}

.team__image:nth-child(6) {
  top: 50px;
  left: -19px;
}

.team__image:nth-child(6) .team__image-position {
  -webkit-transform: rotate(90deg) translate(20px, -40px);
          transform: rotate(90deg) translate(20px, -40px);
}

.footer {
  height: 2rem;
}

.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
  color: #a9a9a9;
}

.footer p a {
  display: inline-block;
  color: #9d4edd;
}

@media screen and (min-width: 576px) {
  .team {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .team__images {
    grid-gap: 4rem 5.5rem;
  }
  .team__image img {
    min-width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    max-width: 750px;
    row-gap: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
  .team__text {
    margin: 0.625rem 0 0;
  }
  .team__header {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .team__images {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
  }
  .team__image-name {
    margin-top: 1rem;
  }
  .team__image:nth-child(1) .team__image-position {
    -webkit-transform: rotate(90deg) translate(42px, -68px);
            transform: rotate(90deg) translate(42px, -68px);
  }
  .team__image:nth-child(2) {
    top: 80px;
    left: 0;
  }
  .team__image:nth-child(2) .team__image-position {
    top: 0;
    -webkit-transform: rotate(90deg) translate(32px, -58px);
            transform: rotate(90deg) translate(32px, -58px);
  }
  .team__image:nth-child(3) .team__image-position {
    -webkit-transform: rotate(90deg) translate(23px, -48px);
            transform: rotate(90deg) translate(23px, -48px);
  }
  .team__image:nth-child(4) {
    top: 0;
    left: 0;
  }
  .team__image:nth-child(4) .team__image-position {
    -webkit-transform: rotate(90deg) translate(30px, -55px);
            transform: rotate(90deg) translate(30px, -55px);
  }
  .team__image:nth-child(5) {
    top: 80px;
  }
  .team__image:nth-child(5) .team__image-position {
    -webkit-transform: rotate(90deg) translate(23px, -50px);
            transform: rotate(90deg) translate(23px, -50px);
  }
  .team__image:nth-child(6) {
    top: 0;
    left: 0;
  }
  .team__image:nth-child(6) .team__image-position {
    -webkit-transform: rotate(90deg) translate(23px, -50px);
            transform: rotate(90deg) translate(23px, -50px);
  }
}

@media screen and (min-width: 992px) {
  .team {
    max-width: 960px;
  }
}

@media screen and (min-width: 1400px) {
  .team {
    max-width: 1024px;
  }
}
